<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>504348983116-vt32u4onmfe8n5j3010552p27b9slosl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.504348983116-vt32u4onmfe8n5j3010552p27b9slosl</string>
	<key>API_KEY</key>
	<string>AIzaSyBFuNefemVHGsHsSqXqbeLcrRwk3QKsN4A</string>
	<key>GCM_SENDER_ID</key>
	<string>504348983116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hospital</string>
	<key>PROJECT_ID</key>
	<string>hospital-e13e4</string>
	<key>STORAGE_BUCKET</key>
	<string>hospital-e13e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:504348983116:ios:8c84eb62da18741be019e9</string>
</dict>
</plist>